* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.overlay {
    position: absolute;
    inset: 0;    
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}


/* /common */

/* header  */

header {
    margin-bottom: 30px;
}

#logo {
    width: 17%;

}

#logo img {
    padding: 10px 10px;
    height: 100px;
    border-right: 1px solid #CBC2BE;
    
}

nav {
    margin: 20px 0;
}

nav li {
    list-style: none;
    display: inline;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(177, 177, 177);
    text-transform: uppercase;
}


/* /header  */

/* main  */


.main-top {
    position: relative;
    height: 500px;
    margin-bottom: 30px;

}



.banner-img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.banner-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.banner-text{
    position: absolute;
    color: white;
    bottom: 80px;
    left: 20px;
    width:  50%;
}

.banner-text p {
    font-size: 10px;
}


.main-bottom {
    width: 100%;
    
}


.main-header {
    margin-bottom: 20px;
    color: black;

}

.main-header p {
    color: rgb(177, 177, 177);
    font-size: 10px;
}

.sidebar {
    width: calc(100% / 6);
    margin-bottom: 20px;
    float: left; 
}

.sidebar-left-logo{
    width: 100%;
    position: relative;

}

.sidebar-left-logo img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sidebar-right-logo {
    width: 100%;
    height: 167px;
    position: relative;
}

.sidebar-right-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sidebar h3 {
    color: black;
    padding: 10px 0;
}

.sidebar p {
    color: rgb(177, 177, 177);
}



.center {;
    float: left;
    width: calc(((100% / 6) * 4) - 10px);
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;

}

.banner-center {
    position: relative;
    width: 100%;
    height: 167px;

}

.banner-center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.center h3 {
    color: black;
    padding: 10px 0;
}

.center p {
    color: rgb(177, 177, 177);
}



/* /main  */

/* footer  */

.footer {
    background-color: rgb(136, 1, 254);
    margin-top: 20px;
}

/* /footer  */